pkgbase = qylock-git
	pkgdesc = SDDM and Quickshell lockscreen theme collection (latest git)
	pkgver = r0.0000000
	pkgrel = 1
	url = https://github.com/Darkkal44/qylock
	install = qylock.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = qt6-declarative
	depends = qt6-5compat
	depends = qt6-svg
	optdepends = sddm: login screen themes (qylock-sddm)
	optdepends = quickshell: interactive lockscreen (qylock-lock)
	optdepends = qt6-multimedia: video wallpaper support
	optdepends = qt6-multimedia-ffmpeg: video wallpaper playback backend
	optdepends = gst-plugins-base: video wallpaper codecs
	optdepends = gst-plugins-good: video wallpaper codecs
	optdepends = gst-plugins-bad: video wallpaper codecs
	optdepends = gst-plugins-ugly: video wallpaper codecs
	optdepends = curl: download fonts with qylock-fetch-fonts
	provides = qylock
	conflicts = qylock
	source = qylock::git+https://github.com/Darkkal44/qylock.git
	source = qylock-lock
	source = qylock-sddm
	source = qylock-fetch-fonts
	source = fonts.manifest
	sha256sums = SKIP
	sha256sums = e2a4a1b9b5a99b22689fe057fe2d11cb4ed6c74cca9557fb809e051c8083e24e
	sha256sums = 23ea404bda83a9a27dfc9c416a9995cd86aeb7db867fbdb0232b32c8266818b7
	sha256sums = c95131d5941d9f9b9ed7dec2e9670f57d0d385636cf7f347a0336583b8151d3b
	sha256sums = 44a821595637447bf1b3d5b8a920efa1d13c7bc781863f243b3e5c651761acc4

pkgname = qylock-git
